#original {
	color:#84BD00;
}

#user {
	color:#0093B2;
}

rect.original{
	fill: #84BD00;
	border-radius: 20%;
}

rect.user{
	fill: #0093B2;
}

.x-axis line{
	display:none;
}

.y-axis path{
	display:none;
}

.tick{
	stroke-dasharray:  2,2;
}

input.income{
	width:33%;
}

h3 {
	padding-bottom: 16px;
}