div.tooltip {   
    position: absolute;        
    text-align: center;
    padding: 3px;  
    background:#282828;
    margin-top: 0px;
    font: 12px sans-serif;       
    border-radius: 3px 3px 0px 3px;
    pointer-events: none;
}

.tooltip-title{
	text-transform: capitalize;
}

.visualisation{
	background-color: #FAFAFA;
	display: inline-block;
	padding:24px;
}

div.visualisation-button{
	background-color: #84BD00;
	display: inline-block;
	padding:5px;
	margin:5px;
	border-radius: 2px; 
	color:white;
	text-transform: capitalize;
}

.visualisation-button text{
	margin: auto;
    width: 50%;
    height:50%;
    //vertical-align: middle;
}

div.visualisation-button:hover{
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.y-axis-label{
	font-size: 80%;
}

.x-axis text, .y-axis text{
	text-transform:capitalize;
	letter-spacing: 3px;
	font-size:125%;
}

input{
	border:none;
	border-bottom: 2px solid #84BD00;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
}

rect:hover {
	opacity: 0.8;
}